.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  position: relative;
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 80px 40px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  width: 105px;
  height: 39px;
}

.nav__links {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.header__title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 52px;
  line-height: 72px;
  letter-spacing: -1px;
  margin: 183px 0 0;
  max-width: 660px;
}

.header__span-accent {
  font-family: "Noto Serif", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 52px;
  line-height: 72px;
  color: #2f80ed;
  display: block;
}

.header__description {
  font-family: "Noto Serif", serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 660px;
  margin: 28px 0 0;
}

.header__image {
  position: absolute;
  right: 0;
  top: 124px;
  width: 646px;
}

.header__footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  gap: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #838383;
  align-items: end;
  width: 100%;
}

.header__paragraph {
  margin: 0;
}

.recipes {
  background-color: #0a2850;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 80px 215px;
  color: #ffffff;
}

.recipes__title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0 0 24px;
}

.recipes__subtitle {
  font-family: "Noto Serif", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 80px;
}

.recipes__videos {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.recipes__video-item {
  display: flex;
  flex-direction: column;
  width: 480px;
}

.recipes__iframe {
  border: none;
  width: 100%;
  height: 273px;
}

.recipes__video-caption {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-top: 24px;
}

/* 1. Sección general */
.reservation {
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 80px 120px;
  font-family: "Inter", sans-serif;
}

/* 2. Título */
.reservation__title {
  font-family: "Inter", sans-serif;
  text-align: center;
  font-size: 44px;
  font-weight: 500;
  line-height: 52px;
  color: #000000;
  margin: 0 auto 80px;
}

/* 3. Formulario */
.reservation__form {
  max-width: 385px;
  margin: 0 auto;
}

/* 4. Labels */
.form__label {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  align-self: flex-start;
  color: #000000;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* 5. Campos de entrada */
.form__input {
  width: 100%;
  max-width: 385px;
  height: 40px;
  padding: 0 15px;
  border-radius: 4px;
  border: 1px solid #838383;
  font-size: 20px;
  line-height: 30px;
  box-sizing: border-box;
}

.form__input::placeholder {
  color: #838383;
}

/* 6. Checkbox */
.form__checkbox-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.form__checkbox {
  width: 20px;
  height: 20px;
  border-radius: 2px;
}

/* 7. Botón */
.form__button {
  font-family: "Inter", sans-serif;
  width: 100%;
  max-width: 385px;
  height: 40px;
  background-color: #2f80ed;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  cursor: pointer;
  margin-bottom: 30px;
}

.form__button:hover {
  opacity: 0.7;
}

.form__fieldset {
  border: none;
  padding: 0;
}

.form__checkbox-label {
  justify-content: center;
  flex-direction: row;
}
